<h1>Company List</h1>
<a href="{% url 'create_company' %}">Create New Company</a>
<ul>
    {% for company in companies %}
        <li>
            {{ company.name }} | {{ company.contact_email }}
            <a href="{% url 'update_company' company.pk %}">Edit</a>
            <form action="{% url 'delete_company' company.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>
